<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="StripeSecretKey" value="sk_test_CwcxY7cbDUdSvsTe1BAAtSEg00rBuqpuqS" />
    <add key="StripePublishableKey" value="pk_test_dv7XSoJVZgSV4CiDNrYgnOUQ00KCEF6q1W" />
  </appSettings>
</configuration>